<!-- Alert information -->
<alert type="danger" close="closeAlert()" ng-show="alerts.length > 0">
    <span ng-repeat="alert in alerts">{{alert.msg}}<br /></span>
</alert>

<!-- Take user back to admin list -->    
<a ui-sref="admin" class="pull-right btn btn-primary btn-outline btn-rounded">Admin</a>

<h2>Country List</h2>

<div class="jumbotron">
    <!-- Insert new country entry -->
    <button class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="new()">+</button>

    <!-- Only show if we received data -->
    <table class="table table-striped" ng-show="countries.length > 0">
        <tr>
            <th>Country Name</th>
            <th>Currency</th>
            <th>Action</th>
        </tr>
        <!-- Loop through country list and order by name -->
        <tr ng-repeat="country in countries track by $index | orderBy:'name'">
            <td>{{country.name}}</td>
            <td>{{country.currency}}</td>
            <td>
                <button class="btn btn-primary" ng-click="modify(country)">Modify</button>
                <button class="btn btn-danger" ng-click="delete(country)">Delete</button>
            </td>
        </tr>
    </table>

    <!-- Template script to add/modify country -->
    <script type="text/ng-template" id="country.html">
        <div class="modal-header">
            <h3 class="modal-title">{{ action }}</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Country Name:</label>
                <input type="text" ng-model="selected.name" class="form-control">
            </div>
            <div class="form-group">
                <label>Currency:</label>
                <small>i.e. ZAR</small>
                <input type="text" ng-model="selected.currency" size="3" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div> <!-- /.jumbotron -->
