<alert type="danger" close="closeAlert()" ng-show="alerts.length > 0">
    <span ng-repeat="alert in alerts">{{alert.msg}}<br /></span>
</alert>

<!-- <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert> -->
<a ui-sref="admin" class="pull-right btn btn-primary btn-outline btn-rounded">Admin</a>

<h2>Recent Invoices</h2>

<div class="jumbotron">
    <!-- Insert new clinic -->
    <button class="pull-right btn btn-primary btn-outline btn-rounded" ng-click="new()">+</button>

    <!-- Only show table if we received data -->
    <table class="table table-striped" ng-show="invoices.length > 0">
        <tr>
            <th>Invoice ID</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="invoice in invoices track by $index">
            <td>{{invoice.invoice_id}}</td>
            <td>{{invoice.total}}</td>
            <td>
                <button class="btn btn-primary" ng-click="modify(invoice)">Modify</button>
                <button class="btn btn-danger" ng-click="delete(invoice)">Delete</button>
            </td>
        </tr>
    </table>
</div> <!-- /.jumbotron -->
