<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">Stock Management System <small>V0.0.1</small></h2>
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('admin')}"><a ui-sref="admin">Admin <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('invoices')}"><a ui-sref="invoices">Invoices</a></li>
        <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports</a></li>
        <li ng-class="{active: $state.includes('branch')}"><a ui-sref="branch">Branch</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
     
    </div>
  </div>
</div>
</div>